header>.sony>img{
    height: 35px;

}
.container{
    max-width: 1700px;
}

.show .arrow {
    transform: rotate(180deg);
    color:  #3b9de8;
}

.dropdown-menu[data-bs-popper] {
    top:90%
}
.jumbotron{
    background-image: url("/assets/img/jumbo-bg.png");
    background-size: cover;
    background-position: top;
    height: 700px;
}

.card-banner{
    position: relative;
    transition: all 1s;
}

.card-banner:hover{
    transform: translateY(-20px);
    transition: all 1s;
}

.console .row>.border_hover:hover{
    border-color:#0c6efd;
    border-width: 3px;
}

.second_jumbotron{
    background-image: url("/assets/img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
}

.games{
    background-color: #000000db;
}

.apice_r{
    font-size: 0.7rem;
    border: 2px solid black;
    border-radius: 50%;
    padding: 2px;
    vertical-align: super;
}

.fs_8{
    font-size: 0.8rem;
}

.fs_11{
    font-size: 1.1rem;
}

.package_plus{
    background-color: #80808087;
}

.ps_now{
    background-color: #1b1b55;
}

.social>.container{
    max-width: 740px;
    margin: auto;
}

#site-footer{
    background-color: #0648a9;
}

footer ul{
    list-style: none;
}

footer a{
    text-decoration: none;
    color: white;
}

footer li{
    padding-bottom: 1rem;
}

.info{
    text-decoration: underline;
}